:global {
  body {
    margin: 0px;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont,
                'avenir next', avenir,
                helvetica, 'helvetica neue',
                Ubuntu,
                'segoe ui', arial,
                sans-serif;
  }
  .page {
    text-align: center;
  }
  code {
    background-color: #ffffff;
    padding: 3px 5px;
    border-radius: 2px;
  }
}